<main>
    <p>Thanks for:</p>
    {% if name == "David Lynch" %}
        <ul>
            <li>Damn fine cup of coffee.</li>
            <li>The owls are not what they seem.</li>
            <li>It is happening again.</li>
        </ul>
    {% else %}
        <p>Using Jinja2Cpp.jl</p>
    {% endif %}
</main>